.formulario {
    background: #1c1c1c;
    padding: 40px;
    width: 500px;
    border: 5px solid white;
    padding: 40px;
    border-radius: 20px;
}

.formulario_input {
    padding: 18px;
    background: cadetblue;
    color: white;
    width: 90%;
    font-size: 25px;
    border-color: white;
    border-radius: 12px;
    border-width: 3px;
    margin-bottom: 20px;
    font-style: italic;
    border: none;
}

.boton-enviar { 
    width: 40%;
    margin: 50px;
    border: none;
    position: relative;
    right: 8%;
}
.segundo-div {
    display: flex;
    align-items: center;
    position: relative;
    left: 25%;
}
.primer-div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 130px;
}
body {
    background: #111;
}

h1 {
    color: whitesmoke;
    font-family: Arial;
    font-style: normal;
    font-weight: 700;

}

.tercerdiv {
    text-align: center;
    font-size: 30px;
    margin-bottom: 0px;
}
